*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #f7f7f7;
    justify-content: center;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 32px;
    line-height: 32px;
    font-size: 11px;
    color:#666666;
    background: #f7f7f7;
    border-bottom: 1px solid #c7c7c7;
}
header a{
    color:#666666;
}
header a:hover{
    text-decoration: underline;
}
nav{
    width: 90%;
}
header .nav{
    width: 40%;
    float:right;
    display: flex;
    justify-content: space-between;
}
.main{
    width: 90%;
    /*display: flex;
    justify-content: center;
    flex-wrap: wrap;*/
}
.head{
    height:80px;
    line-height: 80px;
    background: #fff;
}
.head h1{
    height:80px;
}
.nav1{
    float:right;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.nav1 li{
    height:80px;
    line-height: 80px;
}
.nav1 a{
    display: inline-block;
    width: 100px;
    height:30px;
    line-height: 30px;
    color:#666666;
    text-align: center;
}
.nav1 a:hover{
    background: #ccc;
}
.banner{
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.imgs{
    width: 603%;
}
.imgs img{
    width: 16.6%;
}
.dian{
    position: absolute;
    top:90%;
    left:90%;
    width: 100px;
    height:13px;
    display: flex;
    justify-content: space-around;
}
.dian li{
    width: 13px;
    height:13px;
    border-radius: 100%;
    background: #ccc;
}
.slide{
    position: absolute;
    left:0;
    top:0;
    background: rgba(89,89,89,0.8);
    width: 19%;
    height:100%;
}
.slide ul{
    height:100%;
}
.slide ul li{
    height:25%;
    vertical-align: middle;
    border-bottom:1px solid #fff;
    color:#fff;
    cursor: pointer;
}
.vv{
    vertical-align: middle;
}
.slide ul li .lia{
    height:100%;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.slide ul li img{
    padding-top: 10px;
}
.slide ul li .span{
    font-weight: bold;
    float: right;
    margin-right: 25px;
}
.slide ul li .sp{
    margin-left: 20px;
    color:#fff;
}
.slide ul li:hover{
    background: #10a56a;
}

.hide{
    position: absolute;
    left:100%;
    width: 800px;
    height:100%;
    z-index: 5;
    top:0;
    border:1px solid;
    background: #f7f7f7;
    color:#000;
    display: none;
    }
.hide p{
    height:38px;
    line-height: 38px;
    font-size: 12px;
}
.hide .ss{
    line-height: 38px;
}
.hide p .le{
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}
.hide .ss:hover{
    color:#10a56a;
}
.slide ul li:hover .hide{
    display: block;
    z-index: 5;
}

.hide dt{
    margin-left: 30px;
    width: 80px;
    font-size: 12px;
    float:left;
    margin-top: 23px;
}
.hide dd{
    float:left;
    width: 690px;
}
.hide dd span{
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    width: 130px;
    height:40px;
    border:1px solid #ccc;
}
.hide span{
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
    width: 130px;
    height:40px;
    border:1px solid #ccc;
}
.hide span:hover{
    border:1px solid #008000;
    color:#118855;
}
.tell{
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-around;
}
h2{
    width: 100%;
    height:52px;
    margin-top: 18px;
    vertical-align: bottom;
    font-size: 21px;
    line-height: 52px;
    padding-left: 20px;
    color:#666;
}
h2 a{
    float:right;
    font-size:13px;
    margin-right: 30px;
}
h2 a:hover{
    text-decoration: underline;
}
.center_t{
    background: #fff;
    width: 100%;
}
.center_t img{
    width: 20%;
    z-index: 5;
    float: left;
}
.phone{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.phone dl{
    height:300px;
    padding-top: 60px;
}
.phone dt{
    width: 80px;
    height: 160px;
}
.phone dt img{
    width: 100%;
}
.phone dd{
    margin-top: 10px;
    width: 100px;
    text-align: center;
    height:20px;
    line-height: 20px;
}
.center_b{
    width: 100%;
}
.center_b .img{
    width: 15%;
    z-index: 5;
    float: left;
    margin-bottom: 20px;
}
.phone_c{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.phone_c dl{
    height:300px;
    margin-top: 20px;
}
.phone_c dt{
    width: 170px;
    height: 190px;
}
.phone_c img{
    width: 100%;
}
.phone_c dd{
    width: 180px;
    text-align: center;
    height:40px;
}
.phone_c p{
    width: 180px;
    text-align: center;
    height:20px;
    color:#CC3300;
}
h3{
    width: 100%;
    height:52px;
    margin-top: 80px;
    font-size: 23px;
    line-height: 52px;
    padding-left: 20px;
    color:#666;
}
.center{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.main_center{
    width: 90%;
}
.search{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.search a{
    display: inline-block;
    border:1px solid #1B8F02;
}
.search a:nth-child(1){
    width: 14%;height:30px;
    line-height: 30px;
    padding-left: 18px;
}
.search a:nth-child(2){
    width: 15%;height:30px;
    line-height: 30px;
    padding-left: 18px;
    margin-left: 1%;
}
.search a:nth-child(3){
    width: 70%;height:30px;
    margin-left: 1%;
}
.search input{
    width: 85%;height:30px;
    border:none;
    padding-left: 10px;
}
.search span{
    display: inline-block;
    width: 10%;
    height:30px;
    text-align: center;
    line-height: 30px;
    background: #008000;
    color:#fff;
    float: right;
}
.center_c{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 85px;
    position: relative;
}
.left{
    width: 68%;
    
    float:left;
    display: flex;
    flex-wrap: wrap;
}
.left .left_u{
    height: 40px;
    border:1px solid #666;
    background: #e8e6e6;width: 100%;
}
.left .left_u li{
    width: 100px;height:40px;
    line-height: 40px;
    float:left;
    text-align: center;
}
.left .left_u li:nth-child(5){
    float: right;
    width: 100px;
    height:30px;
    line-height: 30px;
    margin-top: 5px;
    margin-right: 30px;
    text-align: center;
    border:1px solid #ccc;
    background: #fff;
}
.bdiv{
    width: 200%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:-50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#map11{
    width: 800px;
    height:500px;
    border:1px solid red;
    background: #fff;
}
#map11 p{
    width: 100%;
    height:20px;
    font-size: 15px;
    line-height: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    text-indent: 2em;
}
#map11 p span{
    float: right;
}
#container{
    width: 100%;
    height:480px;
}
.content{
    position:relative;
    display: none;  
    float:right;
    width: 300px;
    height:180px;
    border:1px solid red;
    background: #fff;
    font-size: 10px;
    z-index: 55;
    
}
.imgg{
    width: 30px;
    height:30px;
}
.shopn{
    width: 100%;
    overflow: hidden;
    height:20px;
    line-height: 20px;
}
.close1{
    float:right;
    margin-right: 10px;
}
.mainz{
    overflow: hidden;
    font-size: 10px;
    width: 100%;
    height:20px;
    line-height: 20px;
    margin-top: 50px;
    /*margin-left: 0px;*/
}
.addr{
    overflow: hidden;
    font-size: 10px;
    width: 100%;
    height:20px;
    line-height: 20px;
    /*margin-left: 8px;*/
}
.enter{
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}
.left .left_s{
    width: 100%;
    height:1330px;
} 
.left .left_s li{
    display: flex;
    width: 100%;
    height:133px;
    box-sizing: border-box;
    border-bottom: 1px solid #C0C0C0;
    justify-content: flex-start;
    align-items: center;
}
.left .left_s li .dian1{
    width: 90px;
    height: 90px;
}
.left .left_s li .meg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
.fenye{
    margin-top: 30px;
    width: 100%;
    height:30px;
    display: flex;
    justify-content: center;
}
.fenye a{
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height:30px;
    border:1px solid red;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
}
.meg_l{
    width: 60%;
    font-size: 13px;
    margin-left: 10px;
    line-height: 20px;
    color:#727371;
}
.meg_r{
    font-size: 13px;
    line-height: 20px;
    color:#727371;
    width: 30%;
}
.meg a{
    display: inline-block;
    width: 80px;
    height:30px;
    line-height: 30px;
    text-align: center;
    border:1px solid #00BD70;
    visibility: hidden;
}
.left .left_s li:hover a{
    visibility: visible;
}
.left .left_s li:hover{
    background: #ccc;
}
.right{
    height: 678px;
    width: 25%;
    float:right;
    border: 1px solid #ccc;
}
.right .good{
    height:40px;
    line-height: 40px;
    border-bottom:1px solid #666;
    background: #e8e6e6;
    text-align: center;
    font-size: 20px;
}
.right span{
    display: inline-block;
    width: 50px;
    float: left;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 25px;
}
.right dl{
    float: left;
    width: 100%;
    height:90px;
    border-bottom:1px solid #ccc;
}
.right dt{
    float: left;
    width: 50px;
    height:50px;
    margin-right: 30px;
    margin-top: 20px;
}
.right dt img{
    width: 100%;
}
.right dd{
    cursor: pointer;
    font-size: 14px;
    color:#12811B;
    height:30px;margin-top: 20px;
    line-height: 30px;
}
.right dd:hover{
    text-decoration: underline;
}
.right dl p{
    font-size: 14px;
}
.footer{
    height:295px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #f7f7f7;
    border-top:1px solid #ccc;
}
.foot_1{
    height: 160px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}
.foot_1 ul{
    margin-top: 20px;
    float: left;
}
.foot_1 ul li{
    height:28px;
    line-height: 28px;
    font-size: 12px;
    color:#888;
}
.foot_1 ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.fbuy img{
    float: left;
    margin-top:10px ;
}
.foot_2 p{
    line-height: 25px;
    font-size: 13px;
    color:#888888;
}
@media screen and (max-width: 1056px) {
    .main{
        width: 100%;
    }
    .slide ul{
        height:230px;
    }
    .slide li{
        height:55px;
    }
    .slide li .lia,.sp{
        height:55px;
    }
    .center_b{
        width: 1200px;
    }
    .phone_c{
        width: 920px;
    }
}






















